*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.container{
    width: 800px;
    height: 600px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box1, .box2, .box3{
    width: 100px;
    height: 100px;
}

.box1{
    background-color: red;
    margin-bottom: 30px;
}

.box2{
    background-color: blue;
}

.box3{
    background-color: green;
    margin-bottom: 30px; 
}