*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 100px 50px;
}

.bg1{
background-image: url(../image/road.jpg);
}

.bg2{
background-image: url(../image/bigCity.jpg);
}

.bg3{
    background-image: url(../image/stop.jpg);
}

.parallax{
background-repeat: no-repeat;
background-size: cover; 
background-position: center;
background-attachment: fixed;
height: 500px;
margin-bottom: 50px;
}

.txttop, .txtmiddle, .txtbottom{
margin-bottom: 30px;
}
