.content{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.item{
    max-width: 100%;
    transition: all .2s linear;
    
} 

.item:hover {
    transform: rotate(5deg) scale(1.15);
    transition: all .2s linear;
}

.title:hover {
    transform: scale(1.5);
}

button{
    transition: all .2s linear;
    width: 100px;
    height: 30px;
}

button:hover {
    width: 100%;
    background-color: pink;
}