/* titillium-web-300 - latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/titillium-web-v7-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
         url('../fonts/titillium-web-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/titillium-web-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/titillium-web-v7-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/titillium-web-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/titillium-web-v7-latin-300.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
  }

*{
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    border: 3px solid mediumpurple;
    width: 300px;
    height: 20px;
    border-radius: 20%;
    margin-top: 30px; 
}

input::placeholder{
    color: blue;
    font-size: 12px;
}

textarea{
    width: 300px;
    height: 200px;
}

button{
        background-color: bisque;
}