*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .box{
        background: url(/image/stop.jpg) no-repeat;
    }
}


.icon:hover{
    fill: blueviolet;
}

body{
    display: flex;
}

.icon2:hover{
    fill: black;
}