*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{

}

.box{
width: 50%;
margin: 0 auto;
height: 600px;
background-color: antiquewhite;
}

.box2{
    width: 50%;
    margin: auto;
    height: 600px;
    background-color: aquamarine;
}

.inner{
    margin: 0 auto;
    width: 50%;
    height: 200px;
background-color: violet;
}

.innerTwo{
    margin: 0 auto;
    width: 50%;
    height: 200px;
    background-color: brown;
}



@media (min-width: 768px) {
   .box{
       background-color: azure;
       display: flex;
   }
}

@media (min-width: 1024px) {
    .box{
        padding: 0 100px;
    }
} */



/* ЗАНЯТИЕ НОМЕР 2 */



.container{
    width: 960px;  
    margin: auto; 
}

.BoxUp{
    width: 100%;
    height: 40px;
    background-color: greenyellow;
    margin-bottom: 20px;
}

.main{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.one, .two, .three{
    height: 300px;
}

.one{
width: 54.16666%;
background-color: aquamarine;
}

.two{
    width: 20.8333%;
    background-color: rosybrown;
}

.three{
    width: 20.8333%;
    background-color: silver;
}

.boxbot{
    width: 100%;
    height: 40px;
    background-color: brown;
}

img{
    width: 100%;
    height: 300px;
}

